
:root {
  --vibrant-purple: #0c0c75;

  --dark-purple: #000045;
  --dark-purple-rgb: 0, 0, 69;

  --low-op-dark-purple: #000c4585;
  --low-op-dark-purple-rgb: 0, 12, 69, 0.522;

  --high-op-dark-purple: #000935a4;
  --high-op-dark-purple-rgb: 0, 9, 53, 0.643;

  --vibrant-orange: #ffb700;
  --vibrant-orange-rgb: 255, 183, 0;

  --dark-grey: #182948;
  --dark-grey-rgb: 25, 32, 48;

  --light-grey: #2a3e63;

  --purple-black: #090f22; 
  --purple-black-rgb: 8, 11, 17;
}

.load_wraper{
  position: relative;
  overflow: hidden;
}
.activity{
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .0075), rgba(251,251,251, .0125), rgba(251,251,251, .03), rgba(251,251,251, .0125), rgba(251,251,251, .0075));
  animation: loading 1s infinite;
  z-index: 2;
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-weight: 500 !important;
  font-size: 18px !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 900;
}

h3 {
  font-weight: 800 !important;
}

.margin-sm {
  padding-top: 15px;
  margin-bottom: -12.5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--vibrant-purple);
}

.nav {
  position: fixed;
  left: 9px;
  top: 1.5%;
  width: 215px;
  height: 97vh;
  border-radius: 20px;
  background-color: var(--dark-purple);
  transition: 0.3s;
  overflow-y: scroll;
}

@media only screen and (max-width: 1400px) {
  .nav {
    width: 175px;
  }
}
@media only screen and (min-width: 775px) {
  #home_nav {
    display: none;
  }
}
@media only screen and (max-width: 775px) {
  #home_nav {
    display: inherit;
  }
  .nav {
    top: inherit;
    bottom: 0;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 0;
    padding-bottom:7px;
    overflow-y: inherit;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent -20%, var(--dark-purple) 60%);
  }
}

.link_text {
  color: white;
  text-decoration: none;
}

.nav::-webkit-scrollbar {
  width: 3px;
}

@keyframes background_shift {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes start_loading {
  0% {
    opacity: 0;
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

.nav_top {
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
  background-color: var(--vibrant-purple);
  padding: 10% 5%;
}

.nav_top a {
  color: white;
  text-decoration: none;
}

.nav_logo {
  width: 80px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.nav_logo img {
  width: 100%;
}

.beta_tag {
  position: absolute;
  bottom: -10%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #5c64f4;
  padding: 2px 5px;
  border-radius: 20px;
}

.nav_title {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}


.nav_bar {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  list-style-type: none;
}

@media only screen and (max-width: 775px) {
  .nav_top {
    display: none;
  }
  .nav_bar {
    width: 100%;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
@media only screen and (max-width: 515px) {
  .nav_bar {
    gap: 0px;
  }
}

.nav_bar a {
  text-decoration: none;
  color: white;
}

.nav_hr {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  color: white;
}

.nav_bar li {
  margin-left: -28.5px;
  line-height: 40px;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  width: 95%;
  padding: 12px 12px;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 10px;
  margin-bottom: 15px;
}

.selected_nav {
  background-color: var(--vibrant-purple) !important;
}

@media only screen and (max-width: 775px) {
  .selected_nav {
    background-color: transparent !important;
    color: white;
  }
  .selected_nav div img {
    filter: grayscale(0%) !important;
  }
}

.nav_bar li div {
  float: left;
  height: 40px;
  margin-right: 15px;
}

.nav_bar li div img {
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .nav_bar li div {
    padding-top: 15px;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: -5px;
  }
  .nav_bar li {
    text-align: center;
    font-size: 17px;
    padding: 4px 7px;
    margin-left: -25px;
  }
  .nav_bar {
    margin-left: 5px;
  }
}

.nav_bar li:hover {
  margin-left: -26px;
  transform: scale(1.1);
  background-color: var(--vibrant-purple);
}

@media only screen and (max-width: 775px) {
  .nav_bar li {
    margin-top: 10px;
    font-size: 12px ;
    font-weight: 400;
    margin-left: 0px ;
    margin-right:0;
    width: 62px;
  }
  .nav_bar li span {
    display: none;
  }
  .nav_bar li div {
    padding-top: 3px;
  }
  .nav_bar li div img {
    width: 28px;
    height: 28px;
    margin-bottom: -10px;
    filter: grayscale(100%);
  }
  .nav_bar {
    margin-left: -40px;
    position: relative;
  }
  .nav_bar li:hover {
    margin-left: 0;
    transform: scale(1.00);
    background-color: transparent;
  }
}


.nav_credits-icon {
  width: 55px;
  height: 55px;
  margin: auto 15px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav_credits-icon:hover {
  transform: scale(1.15);
  background-color: var(--vibrant-purple);
}

.nav_credits-icon img {
  width: 32.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav_leads {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 15px;
  width: 90%;
  text-align: center;
  padding-bottom: 15px;
}

.nav_leads div {
  margin-bottom: 10px;
}

.nav_join {
  margin-top: 0px;
  width: 70%;
  margin: 0 auto;
}

.nav_join img {
  margin-top: 3px;
  width: 35px;
}

.nav_join button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 40%;
  height: 50px;
}

.discord_icon {
  float: left;
}

.support_icon {
  float: right;
}

.nav_join button:hover {
  transform: scale(1.2);
  background-color: var(--vibrant-purple);
}

.main {
  width: calc(100% - 225px);
  margin-left: 225px;
  position: relative;
  margin-bottom: 17px;
}

@media only screen and (max-width: 1400px) {
  .main {
    width: calc(100% - 185px);
    margin-left: 185px;
  }
}

@media only screen and (max-width: 775px) {
  .main {
    width: calc(100% - 10px);
    margin-left: 5px;
  }
  .main_extra_padding {
    padding: 25px 0;
  }
}
.beta {
  margin-top: 15px;
  width: calc(100% - 20px);
  margin-left: 10px;
  text-align: center;
  padding: 20px 0;
  background-color: var(--dark-purple);
  font-size: 15px;
  border-radius: 20px;
}
