
:root {
  --black: #000;

  --vibrant-purple: #121c3a;
  --vibrant-purple-rgb: 18, 28, 58;
  
  --light-purple: #5c64f4;
  --light-purple-rgb: 92, 100, 244;

  --dark-purple: #030d1e;
  --dark-purple-rgb: 3, 13, 30;

  --low-op-dark-purple: #030d1e8d;
  --low-op-dark-purple-rgb: 3, 13, 30, 0.522;

  --high-op-dark-purple: #030d1ea4;
  --high-op-dark-purple-rgb: 3, 13, 30, 0.643;

  --vibrant-orange: #ffb700;
  --vibrant-orange-rgb: 255, 183, 0;

  --dark-grey: #0f1c34;
  --dark-grey-rgb: 15, 28, 52;

  --light-grey: #182a4e;
  --light-grey-rgb: 24, 42, 78;

  --purple-black: #040d1e;
  --purple-black-rgb: 4, 13, 30;
}

.load_wraper{
  position: relative;
  overflow: hidden;
}
.activity{
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .0075), rgba(251,251,251, .0125), rgba(251,251,251, .03), rgba(251,251,251, .0125), rgba(251,251,251, .0075));
  animation: loading 1s infinite;
  z-index: 2;
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: var(--black);
  color: white;
  margin: 0;
  font-weight: 500 !important;
  font-size: 18px !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 900;
}

h3 {
  font-weight: 800 !important;
}

.margin-sm {
  padding-top: 15px;
  margin-bottom: -12.5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--vibrant-purple);
}

.nav {
  position: fixed;
  left: 9px;
  top: calc(1.5% + 65px);
  width: 80px;
  height: calc(97vh - 65px);
  border-radius: 20px;
  background-color: var(--dark-purple);
  transition: 0.3s;
  overflow-y: scroll;
}

.top_nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  background-color: var(--black);
  z-index: 11;
}

.top_nav-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 18px);
  height: 50px;
  background-color: var(--dark-purple);
  border-radius: 15px;
  display: flex;
  justify-content:space-between;
}

.top_nav-box > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.logo-box {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 50px;
}

.user-box {
  margin-right: 20px;
}

.menu_icon {
  display: none !important;
}

@media only screen and (max-width: 775px) {
  .logo-box > div {
    display: none;
  }
  .logo-box {
    height: 50px;
  }
  .user-username {
    display: none;
  }
  .logo-box {
    display: none;
  }
  .menu_icon {
    display: inherit !important;
  }
  .menu_icon img {
    width: 30px !important;
    height: 30px !important;
  }
  .logo-box {
    margin-left: 15px;
  }
}

.user-box_img {
  width: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_img {
  width: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 50%;
  border: 2px solid var(--light-purple);
  cursor: pointer;
  font-size: 19px;
}

.user-profile {
  position: absolute;
  left: -150px;
  top: 40px;
  width: 180px;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
  --animate-duration: .25s;
}

.user-profile_row {
  display: flex;
  gap: 10px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.user-profile_row:hover {
  background-color: var(--light-grey);
}

.user-profile_row img {
  width: 20px;
}

.logo-box img {
  width: 35px;
  height: 35px;
}

.register-box {
  margin-right: 20px;
}

.register-box_btn {
  font-size: 14px;
  border-radius: 20px;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: .3s ease;
}

.register-box_btn:hover {
  background-color: var(--vibrant-purple);
  cursor: pointer;
}


.register-box_btn img {
  width: 25px;
}

@media only screen and (min-width: 775px) {
  #home_nav {
    display: none;
  }
}
@media only screen and (max-width: 775px) {
  #home_nav {
    display: inherit;
  }
  .nav {
    display: none;
  }
}

.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 25;
  --animate-duration: 0.25s;
}

.mobile_menu-base {
  position: absolute;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background-color: var(--purple-black);
  display: flex;
  justify-content: center;
  align-items: center;
  --animate-duration: 0.75s;
}

.mobile_menu-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.mobile_menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  font-size: 17px;
  padding: 10px 20px;
  background-color: rgba(var(--dark-grey-rgb), .35);
  border-radius: 12px;
}

.mobile_menu-link--selected {
  background-color: var(--dark-grey);
}

.mobile_menu-link img {
  width: 20px;
}

.link_text {
  color: white;
  text-decoration: none;
}

.nav::-webkit-scrollbar {
  width: 3px;
}

@keyframes background_shift {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes start_loading {
  0% {
    opacity: 0;
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

.nav_top {
  margin: 0 auto;
  width: 90%;
  cursor: pointer;
  background-color: var(--vibrant-purple);
  padding: 10% 5%;
}

.nav_top a {
  color: white;
  text-decoration: none;
}

.nav_logo {
  width: 65px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 3px;
}

.nav_logo img {
  width: 100%;
}

.beta_tag {
  position: absolute;
  bottom: -10%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #5c64f4;
  padding: 2px 5px;
  border-radius: 20px;
}

.nav_title {
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
}


.nav_bar {
  display: block;
  margin: 0 auto;
  margin-top: -15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

@media only screen and (max-width: 775px) {
  .nav_top {
    display: none;
  }
  .nav_bar {
    display: none;
  }
}
@media only screen and (max-width: 515px) {
  .nav_bar {
    gap: 0px;
  }
}

.nav_bar a {
  text-decoration: none;
  color: white;
}

.nav_hr {
  width: 90%;
  margin: 20px auto;
  background-color: white;
  color: white;
}

.nav_bar li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav_bar li .tool_tip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 4px;
  border-radius: 20px;
  border-radius: 20px;
  pointer-events: none;
  transition: .2s ease;
  font-size: 11px;
}
.selected_nav .tool_tip {
  opacity: 1 !important;
  background-color: var(--light-purple);
}
.nav_bar li:hover .tool_tip {
  opacity: 1;
  background-color: var(--light-purple);
}

.nav_bar li img {
  padding: 15px;
  border-radius: 10px;
  width: 30px;
  transition: .3s ease;
}

.selected_nav img {
  background-color: var(--vibrant-purple) !important;
}

.nav_bar li:hover img {
  background-color: var(--vibrant-purple);
}

@media only screen and (max-width: 775px) {
  .nav_bar li {
    display: none;
  }
}


.nav_credits-icon {
  width: 55px;
  height: 55px;
  margin: auto 15px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav_credits-icon:hover {
  transform: scale(1.15);
  background-color: var(--vibrant-purple);
}

.nav_credits-icon img {
  width: 32.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav_leads {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 15px;
  width: 90%;
  text-align: center;
  padding-bottom: 15px;
}

.nav_leads div {
  margin-bottom: 10px;
}

.nav_join {
  margin-top: 0px;
  width: 70%;
  margin: 0 auto;
}

.nav_join img {
  margin-top: 3px;
  width: 35px;
}

.nav_join button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 40%;
  height: 50px;
}

.discord_icon {
  float: left;
}

.support_icon {
  float: right;
}

.nav_join button:hover {
  transform: scale(1.2);
  background-color: var(--vibrant-purple);
}

.main {
  width: calc(100% - 85px);
  margin-left: 85px;
  margin-top: 80px;
  position: relative;
  margin-bottom: 17px;
}

@media only screen and (max-width: 775px) {
  .main {
    width: calc(100% - 10px);
    margin-left: 5px;
  }
  .main_extra_padding {
    padding: 25px 0;
  }
}
.beta {
  margin-top: 15px;
  width: calc(100% - 20px);
  margin-left: 10px;
  text-align: center;
  padding: 20px 0;
  background-color: var(--dark-purple);
  font-size: 15px;
  border-radius: 20px;
}
