.home_banner {
  margin-top: -50px;
  padding-top: 125px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.home_banner-update {
  width: max-content;
  padding: 5px 10px;
  border: 1px solid var(--vibrant-orange);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: inset 0 -7px 11px rgba(var(--vibrant-orange-rgb), .4);
  transition: .2s ease;
}

.home_banner-update:hover {
  box-shadow: inset 0 -7px 11px rgba(var(--vibrant-orange-rgb), .6);
}

.home_banner-update img {
  width: 20px;
  height: 20px;
}

.home_banner-title {
  font-size: 50px;
  font-weight: 900;
}

.home_banner-title span {
  background: linear-gradient(to left, #fffa50, #ffce33, #ffa65c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: -2px;
  border-bottom: 2px solid var(--vibrant-orange);
}

.home_banner-subtitle {
  color: rgba(255, 255, 255, 0.8)
}

@media screen and (max-width: 1350px) {
  .home_banner-update img {
    width: 15px;
    height: 15px;
  }
  .home_banner-update {
    padding: 5px 7px;
    font-size: 13px;
  }
  .home_banner-title {
    font-size: 40px;
  }
  .home_banner-subtitle {
    font-size: 16px;
  }
}

.home_banner-hero-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(var(--vibrant-orange-rgb), 0.3) 0px -5px, rgba(var(--vibrant-orange-rgb), 0.2) 0px -10px, rgba(var(--vibrant-orange-rgb), 0.1) 0px -15px, rgba(var(--vibrant-orange-rgb), 0.05) 0px -20px 3px 4px, rgba(var(--vibrant-orange-rgb), 0.025) 0px -25px 5px 8px;
}

@media screen and (max-width: 1050px) {
  .home_banner-hero-container {
    width: 85%;
  }
  .home_banner {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 750px) {
  .home_banner {
    padding-top: 50px;
  }
  .home_banner-hero-container {
    margin-top: 20px;
    width: 100%;
  }
}

.home_banner-hero {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.home_section {
  margin-top: 75px;
}

.home_section_split {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home_section_split > div {
  flex-basis: 50%;
}


.home_section_img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_section_img-container img {
  width: 70%;
  border-radius: 20px;
  mask-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,1) 100%);
}

.home_section_img-container-lg img {
  width: 80%;
  mask-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,1) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,1) 100%);
}

.home_section-title {
  font-size: 40px;
  font-weight: 900;
}

.home_section-title span {
  background: linear-gradient(to left, #fffa50, #ffce33, #ffa65c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_section_description-img {
  width: 30px;
  height: 30px;
  margin-top: 30px;
}

.home_section_description-title {
  font-size: 24px;
  font-weight: 600;
}

.home_section_description-text {
  margin-top: 5px;
  width: 65%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-right .home_section_description-text {
  margin-left: 35%;
}

@media screen and (max-width: 1350px) {
  .home_section_description-title {
    font-size: 20px;
    font-weight: 600;
  }
  
  .home_section_description-text {
    font-size: 15px;
    font-weight: 400;
    width: 75%;
  }

  .home_section-title {
    font-size: 30px;
    font-weight: 900;
  }

  .home_section_img-container img {
    width: 80%;
  }
  
  .home_section_img-container-lg img {
    width: 90%;
  }

  .text-right .home_section_description-text {
    margin-left: 25%;
  }

  .home_section_description-img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .home_section_img-container img {
    width: 100%;
  }
  
  .home_section_img-container-lg img {
    width: 100%;
  }

  .home_section_split {
    gap: 35px;
    text-align: center !important;
  }

  .home_section_description-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-right .home_section_description-text {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 920px) {
  .home_section_split {
    flex-direction: column;
  }

  .home_section_split-reverse {
    flex-direction: column-reverse;
  }

  .home_section_description-text {
    text-align: center;
  }

  .text-right {
    text-align: center;
  }

  .text-right .home_section_description-text {
    margin-left: auto;
    margin-right: auto;
  }

  .home_section_img-container {
    width: 70%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .home_banner {
    min-height: 0;
    margin-top: 25px;
  }
  .home_section_img-container {
    width: 100%;
    margin-top: 15px;
  }
  .home_section {
    margin-top: 50px;
  }
}

.home_footer-end {
  padding-top: 200px;
  position: relative;
  margin-bottom: -20px;
  overflow: hidden;
}

.home_footer_circle-sm {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 110px;
  border-radius: 50%;
  background-color: rgba(255, 176, 30, 0.3);
}

.home_footer_circle-md {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255, 167, 34, 0.25);
}

.home_footer_circle-lg {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 159, 34, 0.2);
}

.home_footer_circle-xxl {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 220px;
  border-radius: 50%;
  background-color: rgba(255, 165, 46, 0.15);
}

.home_footer_circle-xl {
  position: absolute;
  bottom: -220px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 158, 79, 0.1);
}

.home_footer-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}

.home_footer-title span {
  background: linear-gradient(to left, #fffa50, #ffce33, #ffa65c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: -2px;
  border-bottom: 2px solid var(--vibrant-orange);
}

.home_footer-btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home_footer-btns img {
  width: 64px;
  height: 64px;
}

.home_footer-btns > div {
  border: 2px solid rgba(var(--vibrant-orange-rgb), .4);
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(var(--dark-grey-rgb), .3);
  cursor: pointer;
  transition: .2s ease;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: inset 0 -2px 40px rgba(var(--vibrant-orange-rgb), .15);
}

.home_footer-btns > div:hover {
  border: 2px solid rgba(var(--vibrant-orange-rgb), .8);
  box-shadow: inset 0 -7px 11px rgba(var(--vibrant-orange-rgb), .4);
}

.home_footer_subtitle {
  margin-top: 35px;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 1350px) {
  .home_footer-title {
    font-size: 35px;
  }
  .home_footer-btns > div {
    padding: 15px;
    font-size: 16px;
  }
  .home_footer_subtitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .home_footer-title {
    margin-top: 70px;
  }
  .home_footer-end {
    padding-top: 125px;
  }
}

@media screen and (max-width: 500px) {
  .home_footer-title {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
  }
  .home_footer-btns {
    flex-direction: column;
  }
}