:root {
  --section-bg: #06002ec7;
}

.banner {
  height: 320px;
  width: calc(100% - 50px);
  margin: 17px auto;
  background-color: white;
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 0, 0.55),
      rgba(7, 7, 0, 0.55)
    ),
    url("./backgrounds/background_yellow.png");
  background-size: 2500px;
background-position-y: 500px;
  background-attachment:fixed;
  background-color: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:775px) {
  .banner {
    width: calc(100% - 25px);
    height: max-content;
    padding: 30px 0;
  }
}

.banner-sm {
  position: relative;
  height: auto;
  padding: 30px 0;
  width: 100%;
  margin-top: -15px;
  margin-left: -5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 10;
}

.banner_yellow-outline {
  border: 5px solid #6d550082;
}

.banner_blue-outline {
  border: 5px solid #044c7683;
}

.banner_pink-outline {
  border: 5px solid #7803687f;
}

.banner_green-outline {
  border: 5px solid #036f1a84;
}

.banner_purple {
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 0, 0.65),
      rgba(7, 7, 0, 0.65)
    ),
    url("./backgrounds/background.png");
}

.banner_pink {
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 0, 0.5),
      rgba(7, 7, 0, 0.5)
    ),
    url("./backgrounds/background_pink.png");
}

.banner_blue {
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 0, 0.5),
      rgba(7, 7, 0, 0.5)
    ),
    url("./backgrounds/background_blue.png");
}

.banner_green {
  background-image: linear-gradient(
      to right,
      rgba(7, 7, 0, 0.5),
      rgba(7, 7, 0, 0.5)
    ),
    url("./backgrounds/background_green.png");
}

.banner_icon {
  height: 150px;
  margin-top: 10px;
}

.banner_icon span {
  height: 150px;
}

.banner_icon img {
  height: 100%;
}

.banner_text {
  float: right;
  font-weight: 900;
  font-size: 72px;
  line-height: 130px;
}

@media screen and (min-width: 1400px) {
  .banner_icon {
    margin-right: 40px;
  }
  .banner_text {
    line-height: 170px;
  }
}

@media screen and (min-width: 1400px) {
  .banner_icon {
    float:left !important;
  }
}

@media screen and (max-width: 1400px) {
  .banner_icon {
    display: flex;
    justify-content: center;
  }
  .banner_text {
    text-align: center;
  }
}

@media screen and (max-width:775px) {
  .banner_icon {
    height: 120px;
    margin-top: 0;
  }
  .banner_text {
    margin-top: 15px;
    font-size: 55px;
    line-height: 65px;
    padding: 0 10px;
  }
}

@media screen and (max-width:450px) {
  .banner_icon {
    height: 100px;
    margin-top: 0;
  }
  .banner_text {
    margin-top: 25px;
    font-size: 45px;
    line-height: 55px;
  }
}

.yellow {
  background: linear-gradient(to bottom, #fffa50, #ffce33, #ffa65c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple {
  background: linear-gradient(to bottom, #ff95ff, #d580ff, #9966ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink {
  background: linear-gradient(to bottom, #ff8de4, #ff4db3, #ff0068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
purple
.green {
  background: linear-gradient(to bottom, #c8fa64, #4de600, #00cc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue {
  background: linear-gradient(to bottom, #80eaff, #4db5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center_title {
  text-align: center;
}

@media screen and (min-width:1250px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width:775px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section {
  background-color: var(--purple-black);
  width: calc(100% - 50px);
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 18px !important;
}

.transparent_section {
  background-color: transparent;
  border: 5px solid transparent;
  padding: 0 !important;
  margin-top: 15px !important;
}

.transparent_section .multi_paragraph {
  margin-top: 0;
}

@media screen and (max-width:775px) {
  .section {
    width: calc(100% - 25px);
    margin-top: 20px;
  }
}

.section_title {
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
  margin-bottom: 25px;
  font-size: 42px;
}

.letters_subtitle {
  margin-top: -15px;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
}

.section_images-in .section_body {
  gap: 100px;
}

.section_images-in-sm .section_body {
  gap: 100px;
}

@media screen and (max-width:1100px) {
  .section_images-in .section_body {
    gap: 10px !important;
  }
  .section_images-in-sm .section_body {
    gap: 30px;
  }
}

@media screen and (max-width:775px) {
  .section_title {
    padding: 10px;
  }
}

.section_body {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding: 40px;
}

.section_img {
  display: flex;
  align-items: center;
}

.section_img-sm img {
  height: 170px !important;
}

.section_img-mid img {
  height: 240px !important;
}

.section_img img {
  height: 360px;
}

@media screen and (max-width:1250px) {
  .section_img-sm img {
    height: 130px !important;
  }
  
  .section_img-mid img {
    height: 200px !important;
  }
  
  .section_img img {
    height: 300px;
  }
}

@media screen and (max-width:1100px) {
  .section_body {
    flex-direction: column;
    gap: 20px;
  }
  .reverse_body {
    flex-direction: column-reverse !important;
  }
  .section_img-sm img {
    height: 110px !important;
  }
  
  .section_img-mid img {
    height: 210px !important;
  }
  
  .section_img img {
    height: 250px;
    display:block;
    margin: 0 auto;
  }
  .section_img span[style] {
    display: block !important;
    margin: 0 auto;
  }
}

@media screen and (max-width:775px) {
  .section_img-sm img {
    height: 100px !important;
  }
  
  .section_img-mid img {
    height: 160px !important;
  }
  
  .section_img img {
    height: 200px;
    display:block;
    margin: 0 auto;
  }
  
}

@media screen and (max-width:500px) {
  .section_body {
    padding: 20px;
  }
}

.section_img .letters_means {
  height: 110px;
}

.section_text {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 10px;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 0px 20px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.centered_text {
  justify-content: center;
}

.centered_text {
  text-align: center;
}

.section_column-title {
  background-color: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.section_column-img img {
  width: 100px !important;
  margin: 0 auto !important;
}

.multiple_paragraphs {
  width: 38.5%;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 0;
  border-radius: 0px;
}

@media screen and (max-width:1250px) {
  .section_text {
    width: 50%;
  }
  .multiple_paragraphs {
    width: 49%;
  }
}

@media screen and (max-width:1100px) {
  .section_text {
    margin: 0 auto;
    width: 80%;
  }
  .multiple_paragraphs {
    width: 79%;
  }
}

@media screen and (max-width:600px) {
  .section_text {
    width: calc(90% - 10px);
    margin-left: -5px;
  }
  .section_texts-sm .section_text {
    margin-left: auto !important;
  }
  .multiple_paragraphs {
    width: 100%;
    margin-left: auto !important;
  }
  .top_typing .section_text {
    margin-left: auto !important;
  }
}

.multi_paragraph {
  width: 100%;
  margin-top: 35px;
  padding: 10px;
  background-color: var(--dark-grey);
  border: 5px solid var(--light-grey);
  border-radius: 20px;
  padding: 0px 20px;
}

@media screen and (max-width:500px) {
  .multi_paragraph {
    margin-top: 25px;
  }
}

.multi_para-flex {
  display: flex;
}

.section_text h4 {
  font-weight: 700;
  margin: 0 !important;
  padding: 5px 0 !important;
}

.multi_paragraph h4 {
  font-size: 20px;
  padding: 10px 0 !important;
}

.section_text .desc_subtitle {
  margin-top: -17px !important;
}

.text-center {
  text-align: center !important;
}
.text-center div {
  width: 100%;
}

.functions-example {
  text-align: center;
}

.functions-example h2 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: -5px;
}

.functions-example img {
  margin-top: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.outline-f {
  border: 5px solid rgba(223, 63, 103, 0.6) !important;
}

.outline-t {
  border: 5px solid rgba(68, 146, 224, 0.6) !important;
}

.outline-i {
  border: 5px solid rgba(221, 144, 67, 0.6) !important;
}

.outline-s {
  border: 5px solid rgba(29, 202, 110, 0.6) !important;
}

.outline-combos {
  position: relative;
  border: none !important;
  border: none !important;
  transform-style: preserve-3d;
}

.outline-combos::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 25px;
  padding: 5px;
  width: 100%;
  height: 100%;
  transform: translateZ(-1px);
}

.outline-combos-f_i::after {
  background-image: linear-gradient(
    to bottom right,
    rgba(221, 144, 67, 0.6),
    rgba(223, 63, 103, 0.6)
  );
}

.outline-combos-t_i::after {
  background-image: linear-gradient(
    to bottom right,
    rgba(221, 144, 67, 0.6),
    rgba(68, 146, 224, 0.6)
  );
}

.outline-combos-f_s::after {
  background-image: linear-gradient(
    to bottom right,
    rgba(29, 202, 110, 0.6),
    rgba(223, 63, 103, 0.6)
  );
}

.outline-combos-t_s::after {
  background-image: linear-gradient(
    to bottom right,
    rgba(29, 202, 110, 0.6),
    rgba(68, 146, 224, 0.6)
  );
}

.outline-combos-i_s::after {
  background-image: linear-gradient(
    to left,
    rgba(221, 144, 67, 0.6),
    rgba(29, 202, 110, 0.6)
  );
}

.outline-combos-i_s-right::after {
  background-image: linear-gradient(
    to right,
    rgba(221, 144, 67, 0.6),
    rgba(29, 202, 110, 0.6)
  );
}

.outline-combos-t_f::after {
  background-image: linear-gradient(
    to left,
    rgba(68, 146, 224, 0.6),
    rgba(223, 63, 103, 0.6)
  ) !important;
}

.outline-combos-t_f-right::after {
  background-image: linear-gradient(
    to right,
    rgba(68, 146, 224, 0.6),
    rgba(223, 63, 103, 0.6)
  ) !important;
}

.outline-combos-e_i::after {
  background-image: linear-gradient(
    to left,
    rgba(60, 60, 182, 0.6),
    rgba(184, 62, 62, 0.6)
  ) !important;
}

.outline-combos-e_i-right::after {
  background-image: linear-gradient(
    to right,
    rgba(60, 60, 182, 0.6),
    rgba(184, 62, 62, 0.6)
  ) !important;
}

@media screen and (min-width: 900px) {
  .outline-combos-t_i {
    margin-top: 10px;
  }
  
  .outline-combos-f_s {
    margin-top: 10px;
  }
}

.section_texts-sm {
  padding: 10px;
  gap: 40px;
}

.section_texts-sm .section_text {
  border: 5px solid var(--light-grey);
  width: 27%;
}

@media screen and (max-width: 1530px) {
  .section_text-cards .section_text {
    flex-direction: column;
  }
}

@media screen and (max-width:1100px) {
  .section_text-cards {
    gap: 30px;
  }
  .section_text-cards .section_text{
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .section_text-cards .section_text {
    gap: 10px;
    width: 87% !important;
  }
}

@media screen and (max-width: 800px) {
  .section_text-cards .section_text {
    flex-direction: column;
    gap: 0px;
    width: calc(100% - 40px) !important;
  }
}

@media screen and (max-width: 500px) {
  .section_text-cards .section_text {
    width: 83% !important;
    margin: 0 auto;
  }
  .mobile-mt-20 {
    margin-top: 5px !important;
  }
}

@media screen and (max-width:1250px) {
  .section_texts-sm .section_text {
    border: 5px solid var(--light-grey);
    width: 37.5%;
  }
}

.section_texts-sm-no-border .section_text {
  border: none;
}

.text-sm_img {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1100px) {
  .section_texts-sm {
    flex-direction: row !important;
    gap: 0px;
  }
}

@media screen and (max-width:1025px) {
  .section_texts-sm .section_text {
    flex-direction: column;
  }
  .text-sm_img {
    margin-top: 15px;
  }
  .text-sm_img span[style] {
    margin-top: 15px;
  }
}
@media screen and (max-width:900px) {
  .section_texts-sm {
    flex-direction: column !important;
  }
  .section_texts-sm .section_text {
    width: 80%;
    margin-bottom: 35px;
  }
  .extra_spacing_texts-sm {
    margin-bottom: -20px;
  }
  .extra_spacing_texts-sm .section_text {
    margin-bottom: 45px;
  }
}

.extra_margin-letters {
  margin-left: 25px;
  margin-right: 25px;
}

.functions .text-sm_img img {
  width: 85px;
}

.functions h1 {
  font-size: 24px !important;
}

.text-sm_img img {
  width: 100px;
}

.text-sm_desc {
  width: 80%;
  margin-left: 20px;
}

@media screen and (max-width:1025px) {
  .text-sm_desc {
    width: 90%;
    margin-left: 0px;
  }
}

.outline-gray .text-sm_img img {
  width: 140px;
}

.outline-gray {
  border: 5px solid var(--light-grey);
}

.section_text h1 {
  font-weight: 900;
  font-size: 30px;
}

.section_text .section_subtitle {
  font-size: 24px;
}

.savior h4 {
  line-height: 10px;
}

.center-right {
  text-align: right;
  padding-right: 30px;
}

.savior_img {
  display: flex;
  align-items: center;
}

.savior_img img {
  width: 420px;
}

.savior {
  width: 35%;
  margin: 0;
}

.savior_outline {
  padding: 20px 20px;
  border: 5px solid rgba(0, 185, 164, 0.6) !important;
}

.savior_outline-nopad {
  border: 5px solid rgba(0, 185, 164, 0.6) !important;
}

.demon_outline-nopad {
  border: 5px solid rgba(206, 75, 52, 0.6) !important;
}

.demon_outline {
  margin-top: 40px;
  padding: 20px 20px;
  border: 5px solid rgba(206, 75, 52, 0.6);
}

.needs-blue {
  border: 5px solid rgba(60, 60, 182, 0.6) !important;
}

.animals-blue {
  border: 5px solid rgba(60, 60, 182, 0.6) !important;
}

.needs-red {
  border: 5px solid rgba(184, 62, 62, 0.6) !important;
}

.animals-red {
  border: 5px solid rgba(184, 62, 62, 0.6) !important;
}

.modalities-fem {
  border: 5px solid rgba(165, 44, 137, 0.6) !important;
}

.modalities-masc {
  border: 5px solid rgba(19, 16, 119, 0.6) !important;
}

.section_title-text-sm {
  font-size: 30px;
}

.charge_letter {
  font-size: 50px;
  margin-right: 5px;
}

.pair-axis img {
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
}

.modalities_code {
  text-align: center;
}

.modalities_code h3 {
  font-weight: 900;
}

.modalities_code-boxes {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.modality_x {
  font-size: 40px;
}

.modality_x span {
  font-weight: 700;
}

.modality_text {
  margin-top: -20px;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: -5px;
}

.functions .quadra_top {
  margin: 0 auto;
  padding-top: 40px;
  width: 120px !important;
  display: block;
}

.quadra-axis {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.functions .quadra-axis img {
  width: 150px !important;
  background-color: var(--dark-grey);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.spectrum_img {
  margin: 0 auto;
  margin-top: -20px;
  display: block;
  width: 80%;
  padding: 0px;
  border-radius: 20px;
  background-color: var(--dark-grey);
}

.extro-yellow {
  border: 5px solid rgba(255, 175, 78, 0.6) !important;
}

.extro-purple {
  border: 5px solid rgba(144, 150, 225, 0.6) !important;
}

.top_padding {
  padding-top: 60px;
}

.page_btn {
  border-radius: 25px;
  width: 350px;
  cursor: pointer;
  transition: .2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .page_btn {
    width: calc(85% - 5px);
  }
  #home_change .page_btn {
    margin: 0 auto;
  }
  .transparent_section .page_btn {
    width: 100%;
    margin: 0 auto;
    margin-left: -3px;
    padding: 0;
  }
}

.page_btn_multi {
  width: calc(100% - 50px) !important;
}

@media screen and (min-width: 775px) {
  .page_btn:hover {
    transform: scale(1.1);
    background-color: var(--light-grey);
  }
}

.page_btn-img {
  margin: 0;
  padding:10px;
}

.page_btn-img span {
  width: 75px;
}

.page_btn-img img {
  width: 75px !important;
}

.page_btn-img-sm img {
  width: 55px !important;
}

.page_btn-text {
  margin: 0;
  font-size: 24px;
}

.button_body {
  flex-direction: row !important;
}

.onboarding_code {
  width: 100%;
  margin-top: 10px;
  padding: 40px 0px;
  font-size: 60px;
  text-align: center;
}
