.page_icon {
  height: 90px;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.205);
  border: 10px solid var(--light-grey);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease;
}

@media only screen and (max-width: 1000px) {
  .page_icon {
    height: 70px;
    width: 70px;
  }
}

@media only screen and (min-width: 775px) {
  .page_icon:hover {    
    background-color: var(--light-gray);
    border: 10px solid var(--purple-black);
  }
}

.page_icon span {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page_icon > img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page_icon-dropdown {
  position: absolute;
  right: -325px;
  top: -40px;
  width: 300px;
  background-color: var(--light-grey);
  border-radius: 15px;
  cursor: default;
  --animate-duration: .2s;
  overflow: hidden;
  z-index: 3;
}

.icon-dropdown_title {
  text-align: center;
  margin-top: 10px;
  font-weight: 800;
  font-size: 20px;
}

.icon-dropdown_links {
  margin-top: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  gap: 10px;
  height: 120px;
  overflow-y: scroll;
}

.icon-dropdown_bar__transparent {
  display: none;
}

@media screen and (max-width: 775px) {
  .icon-dropdown_bar__transparent {
    display: inherit;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: transparent;
    pointer-events: none;
  }
}

.icon-dropdown_bar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  transition: .3s ease;
}

.icon-dropdown_bar:hover {
  background-color: var(--light-grey);
}

.icon-dropdown_bar:hover .icon-dropdown_link {
  border: 3px solid var(--light-grey);
}

.icon-bar_title {
  font-size: 18px;
  font-weight: 500;
}

.icon-dropdown_link {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
  border: 3px solid var(--dark-grey);
  transition: .2s ease;
}

.icon-dropdown_img {
  height: 40px;
  width: 40px;
  border-radius: 50%; 
  padding: 5px;
}

@media screen and (max-width: 1000px) {
  .page_icon-dropdown {
    left: 100px;
    width: 200px;
    top: -35px;
  }

  .icon-dropdown_links {
    height: 100px;
  }

  .icon-dropdown_img {
    height: 30px;
    width: 30px;
  }

  .icon-dropdown_link {
    height: 30px;
    width: 30px;
    font-size: 17px;
  }

  .icon-bar_title {
    font-size: 18px;
  }
}

.icon-dropdown_img img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 750px) {
  .page_icon-dropdown {
    animation: zoomIn;
    animation-duration: .25s;
  }
}

@media screen and (max-width: 750px) {
  .page_icon-dropdown__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    animation: fadeIn;
    animation-duration: .4s;
    z-index: 24;
  }
  .page_icon-dropdown {
    position: absolute;
    top: inherit;
    right: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    animation: slideInUp;
    animation-delay: .2s;
    animation-duration: .7s;
  }
  .icon-dropdown_links {
    height: 200px;
    border-radius: 0;
    padding-bottom: 75px;
  }
  .icon-dropdown_bar {
    background-color: var(--light-grey);
    padding: 3px 3px;
  }
}

.icon_container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon_text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .icon_text {
    font-size: 16px;
  }
}



.clear {
  clear: both;
}

.half {
  float: left;
  width: 50%;
}

.center_icon {
  margin: 0 auto;
  width: 90px !important;
  height: 90px;
}

.learn_section {
  border-radius: 20px;
  width: calc(100% - 500px);
  position: fixed;
  margin-left: 17px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(".//backgrounds/background_blue.png");
  background-size: 2900px;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid #044c7673;
}

@media only screen and (max-width: 1400px) {
  .learn_section {
    width: calc(100% - 450px);
  }
}

@media only screen and (max-width: 1200px) {
  .learn_section {
    margin-top: 17px;
    width: calc(100% - 40px);
    position: relative;
  }
}

@media only screen and (max-width: 775px) {
  .learn_section {
    width: calc(100% - 30px);
    height: calc(100% - 90px);
    margin-left: 10px;
    background-size: 2000px;
  }
}

.section_top {
  text-align: center;
  font-size: 37.5px;
  font-weight: 900;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 775px) {
  .section_top:first-child {
    margin-top: 40px;
  }
  .section_top {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.section_buttons {
  width: 375px;
  float: right;
}

@media only screen and (max-width: 1400px) {
  .section_buttons {
    width: 325px;
  }
}

@media only screen and (max-width: 1200px) {
  .section_buttons {
    display: none;
  }
}

.section_button {
  width: 95%;
  background-color: var(--dark-grey);
  height: 240px;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.2s ease;
  border: 1px solid transparent;
  cursor: default;
}

@media only screen and (max-width: 1400px) {
  .section_button {
    height: 235px;
  }
}

.section_button_small {
  width: 95%;
  background-color: transparent;
  border: 1px solid transparent;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.section_map {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  height: 89vh;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .section_map {
    height: max-content;
  }
}

.section_map-space {
  margin: 0 auto;
  width: 800px;
}

@media only screen and (max-width: 1500px) {
  .section_map-space {
    width: 100%;
  }
}

.section_map::-webkit-scrollbar {
  width: 0px;
}

.button-title-container {
  padding-top: 0px;
}

.button-title {
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px 20px 0 0px;
  width: 91%;
  padding: 10px 0;
  padding-right: 9.3%;
  text-align: right;
  margin: 0 auto;
  background-color: var(--light-grey);
  transition: 0.2s ease;
}

.button-title-container_small {
  font-size: 20px;
  font-weight: 600;
  border-radius: 15px;
  width: 90%;
  height: 60px;
  text-align: right;
  padding-right: 40px;
  background-color: var(--dark-grey);
  transition: 0.2s ease;
}

.section_button_small:hover .button-title-container_small {
  background-color: var(--high-op-dark-purple);
}

.button-title_small {
  line-height: 60px;
  margin-right: 10px;
}

.button_text {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  animation: lazy_loading 1s ease;
  text-align: left;
}
.button_text_small {
  display: none;
}

.button_send {
  display: none;
}

.button_send_small {
  float: left;
  height: 25px;
  margin-left: 13px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 7.5px;
  padding-left: 11px;
  position: relative;
  background-color: var(--light-grey);
  transition: 0.3s;
  transform: rotate(-180deg);
}

.button_send_small img {
  height: 100%;
  transition: 0.2s;
}

.section_button_small:hover .button_send_small {
  background-color: var(--high-op-dark-purple);
}

.section_button_small:hover .button_send_small img {
  transform: scale(1.2) rotate(270deg);
}

.seconds {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 775px) {
  .seconds {
    width: 100%;
  }
}

.seconds .icon_container {
  width: calc(100% / 2);
}

.thirds {
  display: flex;
  justify-content: center;
}

.thirds .icon_container {
  width: calc(100% / 3);
}

.button_infos_small {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.button_infos {
  animation: lazy_loading 1s ease;
  padding-top: 5px;
  width: calc((80% / 3) * 2);
  left: 50%;
  top: 72.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.button_info {
  float: left;
  width: calc((100% / 2) - 20px);
  background-color: transparent;
  height: 105px;
  margin-left: 15px;
  border-radius: 20px;
}

.lazy_loading1 {
  animation: lazy_loading1 1s ease;
}

@keyframes lazy_loading {
  0% {
    display: none;
    opacity: 0;
  }
  30% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lazy_loading1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
