.spreadsheet_container {
    width: calc(100% - 50px);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    background-color: var(--purple-black);
    padding: 30px 0;
}

.spreadsheet {
    width: max-content;
    margin: 0 auto;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.spreadsheet_col {
    text-align: center;
}

.spreadsheet_types {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.spreadsheet_type {
    padding: 5px 0;
    font-size: 17px;
    font-weight: 400;
    background-color: rgba(var(--light-grey-rgb), .4);
}

.spreadsheet_type-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.spreadsheet_type-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.spreadsheet_anim {
    font-weight: 600;
    font-size: 17px;
}

.invisible_type {
    background-color: rgba(var(--light-grey-rgb), .4);
    color: transparent;
    pointer-events: none;
    user-select: none;
}
